
////////////////////////////////////////////////////////////////////////////////
//
// CONSTANTS
//
////////////////////////////////////////////////////////////////////////////////

$NAV_BG: hsl(  0,   0%, 97%);
$NAV_FG: hsl(202,   5%, 45%);
$NAV_HI: hsl(202, 100%, 55%);

$MAIN_BG: hsl(202, 10%, 95%);
$MAIN_FG: hsl(  0,  0%, 20%);

$EXAMPLES_BG: hsl(202,  17%,  20%);
$EXAMPLES_FG: hsl(  0,   0%,  80%);

////////////////////////////////////////////////////////////////////////////////
//
// NAV
//
////////////////////////////////////////////////////////////////////////////////

$nav-bg:                 $NAV_BG !default;
$nav-text:               $NAV_FG !default;

$nav-active-bg:          $NAV_HI !default;
$nav-active-text:        hsl(  0,   0%, 100%) !default;

$nav-subitem-bg:         hsl(202, 100%,  90%) !default;

$nav-active-parent-bg:   $nav-bg   !default;
$nav-active-parent-text: $nav-text !default;

$nav-footer-border-color: #666 !default;

////////////////////////////////////////////////////////////////////////////////
//
// MAIN
//
////////////////////////////////////////////////////////////////////////////////

$main-bg:   $MAIN_BG !default;
$main-text: $MAIN_FG !default;

////////////////////////////////////////////////////////////////////////////////
//
// EXAMPLES
//
////////////////////////////////////////////////////////////////////////////////

$examples-bg:          $EXAMPLES_BG             !default;
$code-bg:              darken($examples-bg, 3%) !default;
$code-annotation-bg:   $examples-bg             !default;
$code-annotation-text: $EXAMPLES_FG             !default;

////////////////////////////////////////////////////////////////////////////////
//
// LANG SELET
//
////////////////////////////////////////////////////////////////////////////////

$lang-select-bg:     hsl(120,  10%,  45%) !default;
$lang-select-text:   hsl(  0,   0%, 100%) !default;
$lang-select-border: hsl(  0,   0%,   0%) !default;

$lang-select-active-bg:   #000000 !default;
$lang-select-active-text: $lang-select-text !default;

$lang-select-pressed-bg:   $lang-select-active-bg   !default;
$lang-select-pressed-text: $lang-select-active-text !default;

////////////////////
// ASIDE
////////////////////

$aside-notice-bg:  hsl(202, 100%, 90%) !default;
$aside-warning-bg: hsl(  0, 100%, 90%) !default;
$aside-success-bg: hsl(128, 100%, 90%) !default;


////////////////////
// SIZES
////////////////////

$nav-width: 230px !default; // width of the navbar
$examples-width: 40% !default; // portion of the screen taken up by code examples
$logo-margin: 0px !default; // margin below logo
$main-padding: 28px !default; // padding to left and right of content & examples
$nav-padding: 15px !default; // padding to left and right of navbar
$nav-indent: 10px !default; // extra padding for ToC subitems
$code-annotation-padding: 13px !default; // padding inside code annotations
$h1-margin-bottom: 21px !default; // padding under the largest header tags
$tablet-width: 930px !default; // min width before reverting to tablet size
$phone-width: $tablet-width - $nav-width !default; // min width before reverting to mobile size


////////////////////////////////////////////////////////////////////////////////
//
// FONTS
//
////////////////////////////////////////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

%default-font {
  font-family: "Montserrat", "Helvetiva Neue", "Helvetica", sans-serif;
  font-size: 16px;
}

%header-font {
  @extend %default-font;
  font-family: "Palatino", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
}


%code-font {
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
}

////////////////////////////////////////////////////////////////////////////////
//
// INTERNAL
//
////////////////////////////////////////////////////////////////////////////////

%break-words {
    word-break: break-all;
    hyphens: auto;
}
