@charset "utf-8";
@import 'normalize';
@import 'variables';

//
// GENERAL STUFF
//

html, body {
  color: $main-text;
  padding: 0;
  margin: 0;
  @extend %default-font;
  background-color: $main-bg;
  height: 100%;
  -webkit-text-size-adjust: none; /* Never autoresize text */
}

//
// TABLE OF CONTENTS
//

#toc > ul > li > a > span {
  float: right;
  background-color: #2484FF;
  border-radius: 40px;
  width: 20px;
}

.toc-wrapper {
  transition: left 0.3s ease-in-out;

  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  bottom: 0;
  width: $nav-width;
  background-color: $nav-bg;
  font-size: 13px;
  font-weight: bold;

  // language selector for mobile devices
  .lang-selector {
    display: none;
    a {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }

  // This is the logo at the top of the ToC
  .logo {
    display: block;
    max-width: 100%;
    margin-bottom: $logo-margin;
  }

  // The Table of Contents is composed of multiple nested
  // unordered lists.  These styles remove the default
  // styling of an unordered list because it is ugly.
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 28px;
  }

  li {
    color: $nav-text;
    transition-property: background;
    transition-timing-function: linear;
    transition-duration: 200ms;
  }

  li.toc-seperator {
    margin-top: 1em;
  }

  // This is the currently selected ToC entry
  .toc-link.active {
    background-color: $nav-active-bg;
    color: $nav-active-text;
    font-weight: bold;
  }

  // this is parent links of the currently selected ToC entry
  .toc-link.active-parent {
    background-color: $nav-active-parent-bg;
    color: $nav-active-parent-text;
  }

  .toc-list-h2 {
    display: none;
    background-color: $nav-subitem-bg;
    font-weight: normal;
  }

  .toc-h2 {
    padding-left: $nav-padding + $nav-indent;
    font-size: 12px;
  }

  .toc-footer {
    padding: 1em 0;
    margin-top: 1em;
    border-top: 1px dashed $nav-footer-border-color;

    li,a {
      color: $nav-text;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    li {
      font-size: 0.8em;
      line-height: 1.7;
      text-decoration: none;
    }
  }
}

.toc-seperator {
  font-variant: small-caps;
  font-size: 120%;
  padding: 1.5em $nav-padding 0 $nav-padding;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: hsl(120,  50%,  40%);
}

.toc-link, .toc-footer li {
  padding: 0 $nav-padding 0 $nav-padding;
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: $nav-text;
  transition-property: background;
  transition-timing-function: linear;
  transition-duration: 130ms;
}

// button to show navigation on mobile devices
#nav-button {
  span {
    display: block;
    $side-pad: $main-padding / 2 - 8px;
    padding: $side-pad $side-pad $side-pad;
    background-color: rgba($main-bg, 0.7);
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-100%, 0);
    border-radius: 0 0 0 5px;
  }
  padding: 0 1.5em 5em 0; // increase touch size area
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.7;
  line-height: 16px;
  img {
    height: 16px;
    vertical-align: bottom;
  }

  transition: left 0.3s ease-in-out;

  &:hover { opacity: 1; }
  &.open {left: $nav-width}
}

//
// PAGE LAYOUT AND CODE SAMPLE BACKGROUND
//

.page-wrapper {
  margin-left: $nav-width;
  position: relative;
  z-index: 10;
  background-color: $main-bg;
  min-height: 100%;

  padding-bottom: 1px; // prevent margin overflow

  // The dark box is what gives the code samples their dark background.
  // It sits essentially under the actual content block, which has a
  // transparent background.
  // I know, it's hackish, but it's the simplist way to make the left
  // half of the content always this background color.
  .dark-box {
    width: $examples-width;
    background-color: $examples-bg;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .lang-selector {
    position: fixed;
    z-index: 50;
    border-bottom: 5px solid $lang-select-active-bg;
  }
}

.lang-selector {
  background-color: $lang-select-bg;
  width: 100%;
  font-weight: bold;
  a {
    display: block;
    float:left;
    color: $lang-select-text;
    text-decoration: none;
    padding: 0 10px;
    line-height: 30px;
    outline: 0;

    &:active, &:focus {
      background-color: $lang-select-pressed-bg;
      color: $lang-select-pressed-text;
    }

    &.active {
      background-color: $lang-select-active-bg;
      color: $lang-select-active-text;
    }
  }

  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

//
// CONTENT STYLES
//
// This is all the stuff with the light background in the left half of the page
//

.content {
  // fixes webkit rendering bug for some: see #538
  -webkit-transform: translateZ(0);
  // to place content above the dark box
  position: relative;
  z-index: 30;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &>h1, &>h2, &>h3, &>h4, &>h5, &>h6, &>p, &>table, &>ul, &>ol, &>aside, &>dl {
    margin-right: $examples-width;
    padding: 0 $main-padding;
    box-sizing: border-box;
    display: block;

    @extend %left-col;
  }

  &>ul, &>ol {
    padding-left: $main-padding + 15px;
  }

  &>h1, &>h2 {
    clear:both;
  }

  h1, h2, h3, h4 {
    @extend %header-font;
  }

  h1 {
    font-size: 26px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: $h1-margin-bottom;
    margin-top: 2em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fdfdfd;
  }

  h1:first-child, div:first-child + h1 {
    border-top-width: 0;
    margin-top: 0;
  }

  // h2s right after h1s should bump right up against the h1s.
  h1 + h2, h1 + div + h2 {
    margin-top: $h1-margin-bottom * -1;
    border-top: none;
  }

  h1.toc-seperator {
    display: none;
  }

  // h2's are main sub-topics
  h2 {
    font-size: 22px;

    margin-left: $main-padding;
    padding-left: 0;

    padding-top: 1.5em;

    padding-bottom: 0.3em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
  }

  // h3's are parameters
  h3 {
    font-size: 18px;

    margin-left: $main-padding;
    padding-left: 0;

    margin-top: 1em;
    border-top: 1px solid #ccc;
    padding-top: 1em;

    margin-bottom: 1.5em;
  }

  h2 + h3 {
    border-top: none;
  }

  // I use h4 for "(integer, optional)" comments for parameters (which are themselves h3)
  h3 + h4 {
    margin-top: -1em;
  }

  h4 {
    font-size: 15px;
    font-weight: normal;
    color: #888;

    margin-bottom: 0.5em;
  }

  hr {
    margin: 2em 0;
    border-top: 2px solid $examples-bg;
    border-bottom: 2px solid $main-bg;
  }

  table {
    margin-bottom: 1em;
    overflow: auto;

    text-align: left;

    thead {
      vertical-align: bottom;
      font-weight: normal;

      th {
        padding: 5px 10px;
        font-weight: normal;
      }
    }

    tbody {
      border-top:    2px solid #ddd;
      border-bottom: 2px solid #ddd;
      vertical-align: top;

      tr:nth-child(odd)  { background-color: hsl(hue($main-bg), 0%, 98%); }
      tr:nth-child(even) { background-color: hsl(hue($main-bg), 0%, 96%); }

      td {
        padding: 10px;
      }
    }

    th, td {
    }

  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 15px;
  }

  p, li, dt, dd {
    line-height: 1.6;
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  code {
    background-color: hsl(0, 0%, 90%);
    border: 1px solid hsl(0, 0%, 75%);
    color: hsl(338, 50%, 50%);

    padding: 1px 4px;
    border-radius: 4px;
    @extend %code-font;
  }

  pre>code {
    background-color: transparent;
    padding: 0;
    font-size: 13px;
    @extend %break-words;
  }

  aside {
    border-width: 1px;
    border-left-width: 6px;
    border-style: solid;
    border-radius: 6px;

    background-color: $aside-notice-bg;
    border-color:     darken(desaturate($aside-notice-bg, 20%), 20%);
    color:            darken(  saturate($aside-notice-bg, 10%), 60%);

    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: $main-padding;
    margin-right: calc(#{$examples-width} + #{$main-padding});

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;

    line-height: 1.6;

    &.warning {
      background-color: $aside-warning-bg;
      border-color:     darken(desaturate($aside-warning-bg, 20%), 20%);
      color:            darken(  saturate($aside-warning-bg, 10%), 60%);
    }

    &.success {
      background-color: $aside-success-bg;
      border-color:     darken(desaturate($aside-success-bg, 20%), 20%);
      color:            darken(  saturate($aside-success-bg, 10%), 60%);
    }
  }

  .http-verb {
      display: inline-block;
      padding: 4px 12px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5;
      X-margin-right: 1em;
  }

  .http-verb.http-get {
      color: #fff;
      background-color: #080;
  }

  .http-verb.http-post {
      color: #fff;
      background-color: #008;
  }

}

//
// CODE SAMPLE STYLES
//

.content {

  blockquote, pre {
    background-color: $code-bg;
    color: #fff;

    margin: 0;
    width: $examples-width;

    float: right;
    clear: right;

    box-sizing: border-box;

    @extend %right-col;

    &>p { margin: 0; }
  }

  blockquote {
    &>p {
      background-color: $code-annotation-bg;
      color: $code-annotation-text;
      padding: $code-annotation-padding 1em;
    }
  }

  pre {
    @extend %code-font;
    padding: 2em $main-padding;
  }

}

//
// RESPONSIVE DESIGN
//
// These are the styles for phones and tablets
// There are also a couple styles disperesed
//

@media (max-width: $tablet-width) {
  .toc-wrapper {
    left: -$nav-width;

    &.open {
      left: 0;
    }
  }

  .page-wrapper {
    margin-left: 0;
  }

  #nav-button {
    display: block;
  }

  .toc-link {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}

@media (max-width: $phone-width) {
  .dark-box {
    display: none;
  }

  %left-col {
    margin-right: 0;
  }

  .toc-wrapper .lang-selector {
    display: block;
  }

  .page-wrapper .lang-selector {
    display: none;
  }

  %right-col {
    width: auto;
    float: none;
  }

  %right-col + %left-col {
    margin-top: $main-padding;
  }
}

//
// SYNTAX HIGHLIGHTING
//

@import 'pygments/pygments-hopscotch.css';

.highlight.language-json .err { background-color: inherit; color: #909090; } // json "errors" are really my comments
