.highlight { background-color: #1d1f21; color: #c5c8c6; }
.highlight .ge { font-style: italic; }
.highlight .gs { font-weight: bold; }
.highlight .c { color: #969896; font-style: italic; }
.highlight .cp { color: #969896; font-style: italic; }
.highlight .c1 { color: #969896; font-style: italic; }
.highlight .cs { color: #969896; font-style: italic; }
.highlight .cm { color: #969896; font-style: italic; }
.highlight .m { color: #de935f; }
.highlight .mf { color: #de935f; }
.highlight .mi { color: #de935f; }
.highlight .mo { color: #de935f; }
.highlight .se { color: #de935f; }
.highlight .kc { color: #de935f; }
.highlight .k { color: #b294bb; }
.highlight .kd { color: #b294bb; }
.highlight .kn { color: #b294bb; }
.highlight .kt { color: #81a2be; }
.highlight .s { color: #b5bd68; }
.highlight .sb { color: #b5bd68; }
.highlight .sc { color: #b5bd68; }
.highlight .sd { color: #b5bd68; }
.highlight .s2 { color: #b5bd68; }
.highlight .sh { color: #b5bd68; }
.highlight .si { color: #b5bd68; }
.highlight .sx { color: #b5bd68; }
.highlight .sr { color: #8abeb7; }
.highlight .s1 { color: #b5bd68; }
.highlight .ss { color: #b5bd68; }
.highlight .na { color: #de935f; }
.highlight .bp { color: #cc6666; }
.highlight .nc { color: #f0c674; }
.highlight .no { color: #de935f; }
.highlight .nd { color: #f0c674; }
.highlight .ne { color: #f0c674; }
.highlight .nf { color: #81a2be; }
.highlight .nt { color: #cc6666; }
.highlight .nv { color: #cc6666; }
.highlight .ow { color: #8abeb7; }
.highlight .o { color: #8abeb7; }
.highlight .n { color: #c5c8c6; }
.highlight .nl { color: #c5c8c6; }
.highlight .nn { color: #c5c8c6; }
.highlight .nx { color: #c5c8c6; }
.highlight .bp { color: #cc6666; }
.highlight .p { color: #c5c8c6; }
